@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #e0dedc;
}

.content {
    background-color: #fff;
    width: 50%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 3%;
    margin-right: 25%;
    padding-top: 1%;
    border-radius: 10px;    
    float: left;
}

.staty {
    background-color: #fff;
    float: left;
    width: 5%;
    margin: 3% 9% 0% 9%;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
}

.staty ul {    
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.staty li {
    margin-top: 10%;
    padding: 6%;
}

.staty li:hover {
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

/* Počasí */
.pocasi {
    padding: 5%;
    width: 80%;
    margin: 0 auto;
    font-size: 20pt;
}

.item {
    display: flex;
    margin: 1% 2% 3% 2%;
    border-bottom: 1px solid #aaa;
}

.den {
    width: 60%;
    float: left;
}

.stupne {
    width: 50%;
    float: right;
    text-align: right;
}

/* Vyhledávač */
.vyhledavac {
    text-align: center;
}

.mesto {
    width: 30%;
    padding: 1%;
}

.btn {
    padding: 1%;
    background-color: #fff;
}

/* Nadpis */
.header {
    display: block;
    text-align: center;
}

/* Našeptávač */
.autocomplete-items {
    width: 50%;    
    margin: 0 auto;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.autocomplete-item {
    margin: 0 auto;
    width: 95%;
    display: block;
    padding: 2% 0;
    margin-top: 1px;
    cursor: pointer;
    
}

.autocomplete-item:hover {
    background-color: #eee;
    border-radius: 5px;
}

/* Stupně */
.stupne_max {
    font-weight: bold;
}

.stupne_min {
    color: #777;
}

@media only screen and (max-width: 700px) {
    .content {
        width: 70%;        
        margin: 3% 3% 0% 9%;       
    }

    .staty {
        width: 10%;
        margin: 3% 3% 0% 3%;
        padding: 1%;
    }
    
    .staty li {
        margin-top: 10%;
        padding: 6%;
    }
  }